<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @model_a.image %>
</p>

<p>
  <strong>Images:</strong>
  <%= @model_a.images %>
</p>

<%= link_to 'Edit', edit_model_a_path(@model_a) %> |
<%= link_to 'Back', model_as_path %>
